<div class="container p-2 mb-10 p-5">
  <h1 class="display-1">Gestión de productos</h1>
  <form>
      <div class="form-group p-2">
          <label for="nombreForm">Nombre del producto</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre">
      </div>
      <div class="form-group p-2">
          <label for="descripcionForm">Descripción del producto</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripción">
        </div>
      <div class="form-group p-2">
        <label for="categoriaSelect">Categoría</label>
        <select class="form-control" id="categoriaSelect">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group p-2">
        <label for="stockForm">Unidades en stock disponibles</label>
        <input type="number" class="form-control" id="unitsStock" placeholder="Unidades en stock">
      </div>
      <div class="form-group p-2">
          <label for="precioForm">Precio por unidad</label>
          <input type="number" class="form-control" id="unitPrice" placeholder="Precio por unidad">
      </div>
      <div class="row">
          <div class="col-md-12 offset-md-4">
              <input type="button" class="btn btn-primary" value="Guardar cambios" />
          </div>
      </div>
  </form>
</div>